/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "CenturyGothic-Bold";
  src: url("./fonts/CenturyGothicbold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/CenturyGothicbold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/CenturyGothicbold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/CenturyGothicbold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/CenturyGothicbold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/CenturyGothicbold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}